/* dashboard.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Header Style */
header {
    /* background-color: #51daf9; */
    color: #fff;
    padding: 0;
}

.container1 {
    /* display: flex;
    max-width: 1200px;
    margin: 0 auto; */
    /* align-items: center;
    justify-content: center; */
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.container1 table{
    width: 100%;
    margin-top: 0;
}
.container1 table td{
    /* border: 1px solid #ddd; */
    text-align: center;
}

.container1 table td:last-child {
    text-align: right;
}

.logo-container {
    display: inline-block;
    margin-right: auto; /* Mepet ke kiri */
}

.logo-container a img {
    max-height: 50px;
    vertical-align: middle;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* .menu ul {
    text-align: center;
} */
.menu li {
    margin-left: 20px;
    flex: 1; /* Menyamakan lebar antar menu item */
    /* background-color: #f39c12; */
    padding: 0 auto;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block; /*Mengatur menu item sebagai elemen blok*/
    padding: 0; /* Menambahkan ruang padding agar tautan lebih mudah diklik */
}

.menu li a:hover {
    color: #f39c12;
}

.logout {
    background-color: #f39c12;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    /* margin-left: auto;
    align-items: right;
    justify-content: right; */
}

.logout:hover {
    background-color: #e67e22;
}

/* Main Content Styles */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.banner {
    background-color: #f5f5f5;
    padding: 60px 0;
    text-align: center;
}

.banner h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    color: #666;
}

.content {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #666;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Table header */
.content table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Table rows */
.content table tr {
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color for better readability */
.content table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table cells */
.content table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Footer row */
.content table tfoot th {
    text-align: right;
}
/* Hide ID column */
.content table th:first-child,
.content table td:first-child {
    display: none;
}

/* Footer Styles */
footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #666;
}

/* dashboard.css */

/* ... */

.logo-container {
    flex: 1;
    display: flex;
    align-items: left;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: #333;
    text-decoration: none;
}

.logout {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    margin: 0 auto;
}
.datetime {
    font-size: 14px;
    color: #666;
    margin-right: 20px;
    align-items: center;
}

/* table {
    width: fit-content;
} */