.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.add-product {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Styling for Gambar column */
table td img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
/* Hide ID column */
table th:first-child,
table td:first-child {
    display: none;
}