/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    background-color: #0074D9;
}

/* Header Style */
header {
    background-color: #f8f8f8;
    color: #000000;
    padding: 0;
}

.container1 {
    /* display: flex;
    max-width: 1200px;
    margin: 0 auto; */
    /* align-items: center;
    justify-content: center; */
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.container1 table{
    width: 100%;
    margin-top: 0;
}
.container1 table td{
    /* border: 1px solid #ddd; */
    text-align: center;
}

.container1 table td:last-child {
    text-align: right;
}

.container1 table td:first-child {
    text-align: left;
}

.logo-container {
    display: inline-block;
    margin-right: auto; /* Mepet ke kiri */
}

.logo-container a img {
    max-height: 50px;
    vertical-align: middle;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* .menu ul {
    text-align: center;
} */
.menu li {
    margin-left: 20px;
    flex: 1; /* Menyamakan lebar antar menu item */
    /* background-color: #f39c12; */
    padding: 0 auto;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #0b0b0b;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block; /*Mengatur menu item sebagai elemen blok*/
    padding: 0; /* Menambahkan ruang padding agar tautan lebih mudah diklik */
}

.menu li a:hover {
    color: #f39c12;
}

.logout {
    background-color: #f39c12;
    color: #0c0c0c;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    /* margin-left: auto;
    align-items: right;
    justify-content: right; */
}

.logout:hover {
    background-color: #e67e22;
}


/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.add-product {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.add-product:hover {
    background-color: #555;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Table styles */
.container table {
    width: 100%;
    border-collapse: collapse;
}

.container th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.container th {
    background-color: #f0f0f0;
}

.container tbody tr:hover {
    background-color: #f9f9f9;
}

/* Link styles */
.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
/* Image styles */
.container td img {
    max-width: 100px; /* Adjust the maximum width as needed */
    max-height: 100px; /* Adjust the maximum height as needed */
    display: block;
    margin: 0 auto;
}

/* Hide the ID column */
.container th:first-child,
.container td:first-child {
    display: none;
}